<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

           

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href={% url "home" %} class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href={% url "about" %} class="site-footer-link">About</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href={% url "services" %} class="site-footer-link">Services</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 000-000-0000" class="site-footer-link">
                        000-000-0000
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:adwait.kalsekar@rutgers.edu" class="site-footer-link">
                        adwait.kalsekar@rutgers.edu
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                

                <p class="copyright-text mt-lg-5 mt-4">Copyright © All rights reserved
                
            </div>

        </div>
    </div>
</footer>