{% extends "base/main.html" %}

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row title">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Get Stock Market Data</h1>

                <h6 class="text-center">This is homework assignment 3 created by Adwait Kalsekar for Software Engg Web Apps</h6>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-white text-center">Let's check out the features</h2>

            </div>

        </div>
    </div>
    
</section>



<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Robust Authentication</h5>

                                <p class="text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>

                                <a href="" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                        </div>

                        

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Stock Market Data
                                </h5>

                                <p class="text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>

                                <a href="" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                        </div>

                        

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Open Source API</h5>

                                <p class="text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>

                                <a href="" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                        </div>

                        

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock content %}